.banner-text-align-left,
.banner-text-align-left * {
  box-sizing: border-box;
}
.banner-text-align-left {
  width: 493px;
  height: 290px;
  position: relative;
}
.you-can-use-this-section-to-narrate-a-short-description-for-the-title-or-page {
  color: #ffffff;
  text-align: left;
  font: 400 24px/30px "Montserrat", sans-serif;
  position: absolute;
  left: 4px;
  top: 166px;
  width: 413px;
  height: 124px;
}
.replace-this-with-your-title {
  color: #ffffff;
  text-align: left;
  font: 600 64px/72px "Montserrat", sans-serif;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 493px;
  height: 124px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.color-overlay,
.color-overlay * {
  box-sizing: border-box;
}
.color-overlay {
  background: rgba(0, 0, 0, 0.59);
  width: 1680px;
  height: 816px;
  position: relative;
}

.get-started-button,
.get-started-button * {
  box-sizing: border-box;
}
.get-started-button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.base {
  background: #b59066;
  border-radius: 999px;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: var(--button-text-button-primary-text, #ffffff);
  text-align: center;
  font: 600 20px/24px "Montserrat", sans-serif;
  position: relative;
}
.pexels-paul-ijsendoorn-33041,
.pexels-paul-ijsendoorn-33041 * {
  box-sizing: border-box;
}
.pexels-paul-ijsendoorn-33041 {
  width: 1680px;
  height: 816px;
  position: relative;
}
